.buscador{
    padding-top: 8px;
    background-color: #eef6ff;
    border-bottom: 2px solid #bcc9d8;
  }
  
  .titulo{
    font-size: 25px;
    line-height: 55px;
    color: #005cbb;
    letter-spacing: 0px;
    display: flex;
  }
  
  .logo-buscador{
    width: 40px;
  }
  
  .lh-15{
    line-height: 15px;
  }
  .color-gris{
    color: #656565;
  }
  
  .logo-border{
    border: 1px solid #c4c6d0;
    padding: 2px;
  }
  
  .bg-transparent{
    background: transparent !important;
  }
  
  .btn-detalle{
    max-width: 180px;
    height: 30px;
    line-height: 13px;
  }