<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="sidenavMode" opened="true" class="sidenav">
        <mat-toolbar class="toolbar">
            <span>CONVOCATORIAS</span>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/admin/convocatorias" routerLinkActive="active-link">Convocatorias</a>
            <a mat-list-item routerLink="/admin/entidades" routerLinkActive="active-link">Entidades</a>
            <a mat-list-item routerLink="/admin/carreras" routerLinkActive="active-link">Carreras</a>
            <a mat-list-item routerLink="/" routerLinkActive="active-link">Inicio</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="toolbar">
        <button mat-icon-button 
        (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Convocatorias</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>